*{
    margin: 0;
}

body{
    background-color: rgb(41, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Pagina principal */

.contenedor{
    margin-top: 140px;
    display: grid;
    align-content: center;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
}

.textoMain{
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textoMain p{
    margin-top:40px;
    font-size: 20px;
}

.textoMain button{
    background-color: rgb(105, 219, 219);
    height: 70px;
    width: 250px;
    margin-top: 50px;
    font-weight: 900;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    
}

/* Pagina de calidades */

.pag2Cont{
    display: grid;
    justify-content: center;
    margin-top: 10%;
}


.pag2Cont h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}


.textoSecond{
    color:aliceblue;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

.textoSecond a{
    margin-top: 10px;
    display: grid;
    justify-items: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    
}

.textoSecond img{
    transition: 0.3 ease-in;
}

.textoSecond img:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.137);
}

.secImg {
    margin: 80px;
}

/* Pagina de tipo app, diseño de app, monetizar, autenticacion */

.pag3Cont{
    display: grid;
    justify-content: center;
    margin-top: 10%;
}


.pag3Cont h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}


.textoThird{
    color:aliceblue;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

.textoThird a{
    margin-top: 10px;
    display: grid;
    justify-items: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    
}

.textoThird img{
    transition: 0.3 ease-in;
    height: 80%;
}

.textoThird img:hover{
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.137);
}

.thirdImg {
    margin: 80px;
}



/* Pagina de resumen de cotizacion */

.cotizacionCont{
    margin-top: 140px;
    display: grid;
    align-content: center;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
}

.textoCoti{
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textoCoti p{
    margin-top:40px;
    font-size: 20px;
    color:rgb(255, 255, 255)
}

.textoCoti h2, h1, h3{
    margin-top:40px;
    font-size: 20px;
    color:aliceblue
}

.textoCoti h1 {
    font-size: 50px;
    color: aquamarine;
}

.textoCoti button{
    margin-top:40px;
    font-size: 20px;
}